{% block footer %}
<div class="centerWidth">
  {# note: disabling because I didn't feel like I need a contact form.
    {% include 'partials/contactform.html.twig' %}
  #}

  <address>
    <ul>
      <li><a href="mailto:mborn319@outlook.com">mborn319@outlook.com</a></li>
      <li><a href="https://github.com/mborn319" target="_blank"><i class="fa fa-github"></i> mborn319</a></li>
      <li><a href="https://twitter.com/mborn319" target="_blank"><i class="fa fa-twitter"></i> mborn319</a></li>
    </ul>
  </address>
</div><!--/.centerWidth-->
  <div class="copyright">
    <p><small>&copy; Michael Born 2016.</small></p>
  </div>
{% endblock %}
