<div class="centerWidth">
    <ul class="links">
        <li><a href="/#about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="https://github.com/mborn319" target="_blank"><i class="fa fa-github"></i> mborn319</a></li>
        <li><a href="https://twitter.com/mborn319" target="_blank"><i class="fa fa-twitter"></i> mborn319</a></li>
    </ul>
</div>
