{% extends "base.html.twig" %}

{% block content %}
                <h2><i class="fa fa-graduation-cap fa-2x"></i> Education</h2>
                <ul>
                            <li>Computer Information Systems, AAS - MVCC - 2014</li>
                            <li>Web Development &amp; Information Design, AAS - MVCC - 2014</li>
                            <li>Computer Information Systems, BS - SUNY Polytechnic Institute - in progress</li>
                        </ul>

                <h2><i class="fa fa-briefcase fa-2x"></i> Experience</h2>
                <p><strong>I have built large corporate websites</strong>, and I have built small mom-and-pop sites. I have overcome email clients (Outlook!) and browsers (IE, sigh), optimized SQL queries and page load, and interfaced with nearly a dozen API's on my jaunt through the web development world. </p>
                        <p><strong>I interned at the Griffiss Air Force Base</strong> in summer of 2015. I spent the summer debugging and documenting C++, Java, and Bash programs, as well as learning advanced networking and communications theory from my coworkers.</p>
                        <p><strong>In my four years as a professional web developer</strong>, I have learned how to build emails for Outlook as well as Gmail, I have integrated with numerous APIs (see list below), and coded dozens (upon dozens) of website frontends.

                        <ul>
                            <li>Google Analytics API</li>
                            <li>Google Maps API</li>
                            <li>Youtube IFrame API</li>
                            <li>Youtube Data API</li>
                            <li>Twitter API</li>
                            <li>Constant Contact API</li>
                            <li>MailChimp API</li>
                            <li>Yelp API</li>
                        </ul>

                <h2><i class="fa fa-code fa-2x"></i> Programming</h2>
                        <p><strong>I am first and foremost a web developer</strong>, and my skillset reflects that. However, I am very familiar with the linux operating system and networking and security concepts, and manage my own linux servers.</p>
                        <ul>
                            <li>HTML5</li>
                            <li>CSS3</li>
                            <li>Coldfusion</li>
                            <li>PHP</li>
                            <li>Javascript</li>
                            <li>jQuery</li>
                            <li>SQL / MYSQL</li>
                            <li>Bash scripting</li>
                            <li>Git</li>
                            <li>Jasmine</li>
                            <li>C/C++</li>
                        </ul>
{% endblock %}
