<!DOCTYPE HTML>
<html class="" xmlns="http://www.w3.org/1999/xhtml">
<head>

  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no" />
	<title>Michael Born</title>

	<link href="/static/css/main.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,300' rel='stylesheet' type='text/css' />
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

</head>
<body>
<div id="container">
	 <header id="header" class="clearfix">
    <nav class="nav clearfix">
      {% include 'partials/navigation.html.twig' %}
    </nav>
		<div class="centerWidth clearfix">
      <div id="tagline">{% markdown %}{% block tagline %}Michael Born{% endblock %}{% endmarkdown %}</div>
		</div>
	</header>
  <main role="main">
		<div class="centerWidth">
      {% block main %}{% endblock %}
		 </div><!--/centerWidth-->
	</main><!--/main-->

	<footer>
    {% include 'partials/footer.html.twig' %}
	</footer>
</div><!--end #container-->


<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.min.js"></script>-->
<!--<script src="/static/js/site.js"></script>-->

</body>
</html>
