
                <div class="sidebar col-lg-4">
        			<div class="blog">
        				<h2>Blog</h2>
        				<article class="post">
        					<div class="img"><img src="images/blog-dodge.jpg" /></div>
        					<h3 class="title">Blessed is the Man</h3>
        					<time>Jun. 19</time>
        					<p>who walks not in the counsel of the ungodly, nor stands in the way of sinners, nor sits in the seat of the scornful.</p>
        					<a href="#" class="btn">Read article</a>
        				</article>
        				<article class="post">
        					<div class="img"><img src="images/blog-raptor.jpg" /></div>
        					<h3 class="title">Let Freedom Ring</h3>
        					<time>July. 3</time>
        					<p>who walks not in the counsel of the ungodly, nor stands in the way of sinners, nor sits in the seat of the scornful.</p>
        					<a href="#" class="btn">Read article</a>
        				</article>
        				<article class="post">
        					<div class="img"><img src="images/blog-mustang.jpg" /></div>
        					<h3 class="title">He Just Needs a Few Good Men</h3>
        					<time>Jun. 19</time>
        					<p>All mimsy were the borogoves, And the mome raths outgrabe.</p>
        					<a href="#" class="btn">Read article</a>
        				</article>
        			</div>
                </div><!--/.sidebar-->
