{% extends "home.html.twig" %}
{% set class = "blogPage article" %}

{% set title ="Blog" %}

{% set bannerimg="/images/laptop-coder-small.jpg" %}
{% set banneralt="Michael Born's musings on Web Development" %}

{% block tagline %}
# Michael Born
## Web Development tips and tricks
{% endblock %}


{% block content %}
  <div class="blog list">
    {% include 'partials/blogrecent.html.twig'%}
  </div><!--/.blog.recent-->
{% endblock %}
