{% extends 'base.html.twig' %}

{% block main %}
<div class="blogrecent">
  {% include 'partials/blogrecent.html.twig' %}
</div>

<div id="about">
  {% block content %}{% endblock %}
</div>
{% endblock %}

